Source: ros-kinetic-turtlebot-stdr
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/turtlebot_stdr
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot-stdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-navigation, ros-kinetic-stdr-gui, ros-kinetic-stdr-resources, ros-kinetic-stdr-robot, ros-kinetic-stdr-server, ros-kinetic-turtlebot-bringup, ros-kinetic-yocs-velocity-smoother, ros-kinetic-yocs-virtual-sensor
Description: Stdr version of turtlebot simulation.
 Convenient to test 2D-navigation related stuffs
